body {
  margin: 0px;
  background-color: #dcdbdb;
}

.main {
  height: 100vh;
  width: 100vw;
}

.shot {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 40vh;
  object-fit: cover;
  object-position: 0% 15%;
  animation: 1s ease-out 0s 1 slideInFromBottom;
  background-image: url(./src/stripes.png);
  background-size: contain;
  border-bottom: 2px solid #591a33;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* new */
.card {
  /* margin: 10px; */
  padding: 5px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 7px 17px 30px -8px rgba(0, 0, 0, 0.5);
  width: 90vw;
  height: 20vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card h1 {
  color: #190c19;
  font-family: "Open Sans", sans-serif;
  font-size: 3vh;
  padding: 0px;
}
.card p {
  font-size: 1.15vh;
  font-family: "Roboto";
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
}

.card b {
  color: #591a33;
}

.block {
  /* margin: 10px; */
  margin-top: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 7px 17px 30px -8px rgba(0, 0, 0, 0.5);
  width: 90vw;
  height: 30vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.block h1 {
  color: #190c19;
  font-family: "Open Sans", sans-serif;
  font-size: 3vh;
  padding: 0px;
}
.block p,
ul {
  font-size: 1.15vh;
  font-family: "Roboto";
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  width: 60vw;
}

.infoblock {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

.slideFromBottom {
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.slideInFromRight {
  animation: 0.3s ease-out 0s 1 slideInFromRight;
}

.slideDown {
  animation: 0.3s ease-out 0s 1 slideDownFade;
}

.slideLeft {
  animation: 0.3s ease-out 0s 1 slideLeftFade;
}

.fadeInOut {
  opacity: 0;
  margin-top: -10px;
  animation: 2s ease-in-out 0s 1 fadeInOut;
}

.hidden {
  opacity: 0;
}

.contact-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.contact-button img {
  width: 8vh;
  height: 8vh;
  /* max-width: 4vw; */
  margin: 2vw;
  margin-bottom: 2vh;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.contact-button:hover {
  transform: scale(1.1);
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideDownFade {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
    opacity: 0%;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideLeftFade {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
    opacity: 0%;
  }
}
